@font-face {
  font-family: "RockSalt";
  src: local("RockSalt-Regular"),
    url(../src/fonts/RockSalt-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Wallpoet";
  src: local("Wallpoet-Regular"),
    url(../src/fonts/Wallpoet-Regular.ttf) format("truetype");
}

h1,
h2,
h3,
p {
  font-family: RockSalt;
}
